@model IEnumerable<EntreEspeciesNuevo.Models.Permiso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear Nuevo Permiso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del Permiso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPermiso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPermiso">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.IdPermiso">Detalle</a> 
              @*<a asp-action="Delete" asp-route-id="@item.IdPermiso">Eliminar</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
